--extra-index-url https://download.pytorch.org/whl/cpu
google-genai
python-telegram-bot[job-queue]
asyncpg
chromadb
azure-cognitiveservices-speech==1.42.0
aiofiles
python-dotenv
cachetools==5.3.0